.o_graph_view {
    --ControlPanel-border-bottom: none;

    .o_graph_alert {
        background-color: $dipl-state-info-bg;
        border-color: $dipl-state-info-border;
        color: $dipl-state-info-color;
    }

    .o_graph_custom_tooltip.popover {
        border-color: $o-gray-300;
        box-shadow: 0 1rem 2rem rgba($o-gray-900, 0.08);
    }
}
