$gantt-highlight-today-border: rgba($o-warning, 0.55) !default;
$gantt-highlight-today-bg: rgba($o-warning, 0.18) !default;
$gantt-highlight-hover-row: rgba($o-brand-primary, 0.08) !default;
$gantt-row-open-bg: $o-gray-100 !default;
$gantt-unavailability-bg: $o-gray-200 !default;
