$o-brand-odoo: #2b3a42;
$o-enterprise-color: #d4b895;
$primary: #2b3a42;
$secondary: #a9b0b3;
$dark: #1c1c1c;
$light: #f8f9fa;
$body-color: #1c1c1c;
$body-bg: #f8f9fa;
$border-radius: 0.85rem;
$border-radius-lg: 1.25rem;
$border-radius-sm: 0.65rem;
$font-family-base: "Lato", sans-serif;
$font-family-sans-serif: "Lato", sans-serif;
