$gray-100: #f8f9fa;
$gray-300: #d9dcde;
$gray-500: #a9b0b3;
$gray-700: #4d5a61;
$gray-900: #1c1c1c;
$component-active-bg: #2c3e50;
$dropdown-link-active-bg: #2c3e50;
$dropdown-link-active-color: #f8f9fa;
$link-color: #2c3e50;
$link-hover-color: #d4b895;
